<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <header>
        <section class="encabezado">
         <img class="imagen-logo" src="img/logo-mercado-liebre.svg" />
           <div class="barra"><input type="text" class="input-header" placeholder="buscar productos, marcas">
            <button><div class="lupita"> <i class="fa-solid fa-magnifying-glass icons-footer"> </i></div></i> </button>
                </div>
                
        
         <div class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
            crédito</div>
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
        
      <section class="barra-nav">

            <nav class="opciones-lista">
                <ul class="primer-lista">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                
                <ul class="segunda-lista">
                    <li><a href="/register">Crea tu cuenta  </a> <i class="fa-solid fa-address-card"></i></li>
                    <li><a href="/login">Ingresa  </a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras  </a> <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
      </section>
        
        
    </header>
        <img class="banner" src="img/img-home-banner.jpg" />
    <main >
        <section class="anuncios">
            <h3 class="titulares">Basado en tu última visita</h3>
            <section class="section-article-basado">
            
                <article class="articulo">
                    <img class="img-producto" src="img/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" />
                    <div class="detalle-producto">

                        <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>

                        <div id="info">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">  40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
            
                </article>
                <article class="articulo">
                    <img class="img-producto" src="img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" />
                    <div class="detalle-producto">
                        <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                        <div id="info">
                            <p class="precios">$230.000</p>
                        <p class="descuentos">  20% off</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <div><img class="img-producto" src="img/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" />
                    </div>
                    <div class="detalle-producto">
                        <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                        <div id="info">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">  10% off</p> 
                        </div>
                        
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <div><img class="img-producto" src="img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" /></div>
                    <div class="detalle-producto">
                        <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                        <div id="info">
                            <p class="precios">$23.200</p>
                        <p class="descuentos">  5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </section>                          
        <h3 class="titulares">Sección de Ofertas</h3>
        <section class="section-article-oferta">
            
            <article class="articulo">
                <img class="img-producto" src="img/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" />
                <div class="detalle-producto">
                    <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                    <div
                     id="info">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">    40% off</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="articulo">
                <img class="img-producto" src="img/img-macbook-pro-2019.jpg" alt="imagen de MacBook" />
                <div class="detalle-producto">
                    <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                    <div id="info">
                        <p class="precios">$230.000</p>
                    <p class="descuentos">  20% off</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="articulo">
                <div><img class="img-producto" src="img/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" />
                </div>
                <div class="detalle-producto">
                    <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                    <div id="info">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">  10% off</p> 
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="articulo">
                <div><img class="img-producto" src="img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" /></div>
                <div class="detalle-producto">
                    <div class="truck-icon"><i class="fa-sharp fa-solid fa-truck"></i></div>
                    <div id="info">
                        <p class="precios">$23.200</p>
                    <p class="descuentos">  5% off</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
    </main>
    <footer>
        <section class="footer-options">
            <div class="parte-uno">
            <div class="footer-icon"><i class="fa-solid fa-credit-card"></i></div>
            <h3 class="footer-titulo">Pagá con tarjeta o en efectivo</h3>
            <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
            </div>
            <div class="parte-uno">   
            <div class="footer-icon"><i class="fa-solid fa-gift"></i></div>
            <h3 class="footer-titulo">Envío gratis desde $ 2.500</h3>
            <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            </div>
            <div class="parte-uno">    
            <div class="footer-icon"><i class="fa-solid fa-user-shield"></i></div>
            <h3 class="footer-titulo">Seguridad, de principio a fin</h3>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
            </div>
        </section>
        <section class="copyrigth">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        </section>
    </footer>
</body>

</html>