<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/Productos.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<%- include("partials/header.ejs") %>
<body>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br>
    <br>
        

    <h1>UserList</h1>

    <ul>
        <% for (let i = 0; i < resultado.length; i++) {  %>
            <li>
              <a href="/lista/detail/<%=resultado[i].nombre %>">  <%= resultado[i].nombre %>  </a>
            </li>
            <% } %>
    </ul>

    <h2> Search by name</h2>
    <form action="/search" method="GET">
        <input type="text" name="query">
        <input type="submit" value="Search">
    </form>

    <br><br><br><br>

    <h2> Search by price</h2>
    <form action="/search" method="GET">
        <input type="number" name="price">
        <input type="submit" value="Search">
    </form>
    <br><br><br><br>
   
    <footer>
        <%- include("partials/footer.ejs") %>   
    </footer>
</body>



</html>