<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
        <section class="encabezado">
            <img class="imagen-logo" src="img/logo-mercado-liebre.svg" />
              <div class="barra"><input type="text" class="input-header" placeholder="buscar productos, marcas">
               <button><div class="lupita"> <i class="fa-solid fa-magnifying-glass icons-footer"> </i></div></i> </button>
                   </div>

    </header>

    <form action="/" method="GET" class="register-form">
        <div class="control-formulario">
            <label for="nombre">Nombres y Apellidos</label>
            <input type="text" name="nombre" id="nombre" minlength="5" placeholder="Nombres y Apellidos" class="control">   
          </div> 
        <div class="control-formulario">
            <label for="user-name">Nombre de Usuari@</label>
            <input type="text" name="user-name" id="user-name" minlength="8" placeholder="Nombre de Usuari@" class="control">
          </div> 
        <div class="control-formulario">
            <label for="fecha">Fecha De Nacimiento</label> 
            <input type="date" name="fecha" id="fecha" placeholder="Fecha De Nacimiento" class="control">
          </div> 
        <div class="control-formulario">
            <label for="Domicilio">Direccion de Domicilio</label> 
            <input type="text" name="Domicilio" id="Domicilio" minlength="10" placeholder="Direccion de Domicilio" class="control">
          </div> 
        <div class="control-formulario">
            <label for="preferencia">Perfil de Usuario</label>  
            <input type="radio" name="preferencia" value="Comprador"> Comprador 
            <input type="radio" name="preferencia" value="Vendedor" > Vendedor
          </div> 
        <div class="control-formulario">
            <label for="Intereses" >Intereses</label> 
            <input type="checkbox" name="Intereses" value="Electro" class="listota"> Electro
            <input type="checkbox" name="Intereses" value="Moda" class="listota"> Moda
            <input type="checkbox" name="Intereses" value="Hogar" class="listota"> Hogar
            <input type="checkbox" name="Intereses" value="Jugueteria"class="listota"> Jugueteria
            <input type="checkbox" name="Intereses" value="Vida Sana"class="listota"> Vida Sana
          </div> 
        <div class="control-formulario">
            <label for="picture">Foto de Perfil</label> 
            <input type="file" name="picture" accept=".jpg, .png">
          </div> 
        <div class="control-formulario">
            <label for="contraseña">contraseña</label> 
            <input type="password" name="contraseña" minlength="10" placeholder="Elige tu Contraseña" class="control">
          </div> 
        <div class="control-formulario">
            <label for="contraseña">Confirmar contraseña</label> 
            <input type="password" name="contraseña" minlength="10" placeholder="Confirma tu Contraseña" class="control">
          </div> 
            <div class="botoncitos">
            <button type="submit" class="boton-formulario">Enviar</button >
            <button type="reset" class="boton-formulario">Borrar</button >
            </div>
         

    </form>
    <footer>
        <section class="footer-options">
            <div class="footer-icon"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>

            <div class="footer-icon"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>

            <div class="footer-icon"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <section class="copyrigth">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        </section>
    </footer>
</body>
</html>