<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>

    </header>

    <form action="/" method="GET">
        <div>
            <label for="nombre">Nombres y Apellidos</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombres y Apellidos">   
          </div> <br>
        <div>
            <label for="user-name">Nombre de Usuari@</label>
            <input type="text" name="user-name" id="user-name" placeholder="Nombre de Usuari@">
          </div> <br>
        <div>
            <label for="fecha">Fecha De Nacimiento</label> 
            <input type="date" name="fecha" id="fecha" placeholder="Fecha De Nacimiento">
          </div> <br>
        <div>
            <label for="Domicilio">Direccion de Domicilio</label> 
            <input type="text" name="Domicilio" id="Domicilio" placeholder="Direccion de Domicilio">
          </div> <br>
        <div>
            <label for="preferencia">Perfil de Usuario</label> <br> <br>
            <input type="radio" name="preferencia" value="Comprador"> Comprador 
            <input type="radio" name="preferencia" value="Vendedor" > Vendedor
          </div> <br>
        <div>
            <label for="Intereses">Intereses</label> <br><br>
            <input type="checkbox" name="Intereses" value="Electro"> Electro<br>
            <input type="checkbox" name="Intereses" value="Moda"> Moda<br>
            <input type="checkbox" name="Intereses" value="Hogar"> Hogar<br>
            <input type="checkbox" name="Intereses" value="Jugueteria"> Jugueteria<br>
            <input type="checkbox" name="Intereses" value="Vida Sana"> Vida Sana<br>
          </div> <br>
        <div>
            <label for="picture">Foto de Perfil</label> 
            <input type="file" name="picture" accept=".jpg, .png">
          </div> <br>
        <div>
            <label for="contraseña">contraseña</label> <br>
            <input type="password" name="contraseña" placeholder="Elige tu Contraseña" >
          </div> <br>
        <div>
            <label for="contraseña">Confirmar contraseña</label> <br>
            <input type="password" name="contraseña" placeholder="Confirma tu Contraseña" >
          </div> <br>
        <div>    
            <button type="submit">Enviar</button>
         </div> <br>
         <div>    
            <button type="reset">Borrar</button>
         </div> <br>

    </form>
    <footer>
        <section class="footer-options">
            <div class="footer-icon"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>

            <div class="footer-icon"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>

            <div class="footer-icon"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <section class="copyrigth">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        </section>
    </footer>
</body>
</html>