body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
    margin: 0%;
}


.titulares{
    font-size: 24px;
    
}

.precios{
    font-size: 18px;
}

.descripcion{
    font-size: 16px;
}
.msj-uno{
    
    text-align-last: center
}

.icons-footer{
    color: black;
    
    
}

.menu{
    text-align-last: center;
    display: block;
    height: 28px;
    font-size: large;   
}

.azul-icon{
    color: #1259c3;
   
}

.azules{
    size: 2em;
    margin: 10px;
    text-align-last: center;
}

.abajo{
    text-align-last: center;
}

ul {
  
        text-align: left;
        list-style-position: inside;

}



