<footer>
    <section class="footer-options">
        <div class="parte-un">
        <div class="footer-icon"><i class="fa-solid fa-credit-card"></i></div>
        <h3 class="footer-titulo">Pagá con tarjeta o en efectivo</h3>
        <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
        </div>
        <div class="parte-un">   
        <div class="footer-icon"><i class="fa-solid fa-gift"></i></div>
        <h3 class="footer-titulo">Envío gratis desde $ 2.500</h3>
        <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>
        </div>
        <div class="parte-un">    
        <div class="footer-icon"><i class="fa-solid fa-user-shield"></i></div>
        <h3 class="footer-titulo">Seguridad, de principio a fin</h3>
        <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.</p>
        </div>
    </section>
    <section class="copyrigth">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
    </section>
</footer>