<section class="barra-nav">

    <nav class="opciones-lista">
        <ul class="primer-lista">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul class="segunda-lista">
            <li><a href="/register">Crea tu cuenta  </a> <i class="fa-solid fa-address-card"></i></li>
            <li><a href="/login">Ingresa  </a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a href="#">Mis compras  </a> <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
</section>