<header>
    <section class="encabezado">
     <img class="imagen-logo" src="/img/logo-mercado-liebre.svg" />
       <div class="barra"><input type="text" class="input-header" placeholder="buscar productos, marcas">
        <button><div class="lupita"> <i class="fa-solid fa-magnifying-glass icons-footer"> </i></div></i> </button>
            </div>
            
    
     <div class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
        crédito</div>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    
        <section class="barra-nav">

          <nav class="opciones-lista">
              <ul class="primer-lista">
                  <li><a href="/"> Inicio</a></li>
                  <li><a href="#">Ofertas</a></li>
                  <li><a href="#">Tiendas Oficiales</a></li>
                  <li><a href="/vender">Vender</a></li>
                  <li><a href="#">Ayuda</a></li>
              </ul>
              
              <ul class="segunda-lista">
                  <li><a href="/users/register">Crea tu cuenta  </a> <i class="fa-solid fa-address-card"></i></li>
                  <li><a href="/users/login">Ingresa  </a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                  <li><a href="#">Mis compras  </a> <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
              </ul>
          </nav>
      </section>

</section> 


    
</header>